<html>

<head>
<title>Econometrics Lecture Notes</title>
</head>

<body>

Econometrics lecture notes for ECO3160.<br><br>

<a href="001introtoMetrics.html">1. Intro</a><br>
<a href="002FunWithGapminder.nb.html">2. Fun With Gapminder</a><br>
<a href="003IntrotoR.nb.html">3. Intro to R</a><br>
<a href="004StatsReview.nb.html">4. Statistics Review</a><br>
<a href="005InferentialStats.nb.html">5. Inferential Statistics</a><br>
<a href="006BasicRegression.nb.html">6. Basic Regression</a><br>
<a href="007Assumptions.nb.html">7. Assumptions</a><br>
<a href="008CategoricalIndependentVariables.nb.html">8. Categorical Independent Variables</a><br>

Code available at my <a href="https://github.com/mattdobra/EconometricsLectureNotes">GitHub Repo</a>

</body>
</html>
