<html>

<head>
<title>Econometrics Lecture Notes</title>
</head>

<body>

Minimalist index page for Dr. Dobra's ECO 3160 Econometrics class notes at Methodist University.<br><br>

These links take you to (hopefully!) fully executed R notebooks that have been uploaded to my <a href="https://github.com/mattdobra/EconometricsLectureNotes">GitHub Repo</a>.  If you are looking for the RMarkdown code to generate these notebooks, you should visit the <a href="https://github.com/mattdobra/EconometricsLectureNotes">Repo</a>.<br><br>

<a href="001introtoMetrics.html">1. Class Introduction</a><br>
<a href="002FunWithGapminder.nb.html">2. Fun With Gapminder</a><br>
<a href="003IntrotoR.nb.html">3. Introduction to R</a><br>
<a href="004StatsReview.nb.html">4. Statistics Review</a><br>
<a href="005InferentialStats.nb.html">5. Inferential Statistics</a><br>
<a href="006BasicRegression.nb.html">6. Basic Regression</a><br>
<a href="007Assumptions.nb.html">7. Assumptions</a><br>
<a href="008CategoricalIndependentVariables.nb.html">8. Categorical Independent Variables</a><br>
<a href="009CategoricalDependentVariables.nb.html">9. Categorical Dependent Variables</a><br>


</body>
</html>
